@model IEnumerable<BD_WRC.Models.Pilote>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des pilotes de la saison WRC 1996</h1>
<p>Bonjour @ViewData["Courriel"] !</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNaissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationalite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipe.Nom)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DateNaissance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationalite)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Equipe.Nom)
            </td>
             <td>
                    <a asp-action="StatistiquePilote" asp-route-id="@item.PiloteId">Statisques</a> |
             </td>

        </tr>
}
    </tbody>
</table>
